.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.todo-id,
.todo-summary {
    margin-right: 5px;
}

.form-check-input {
    margin-right: 5px;
}

.btn {
    margin-left: 5px;
}